{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header']) }) -%}

<header {{- html.attributes(attributes) }}>

  {%- block body -%}

    {%- with categories|default({}) only -%}
      {%- block categories -%}

        {%- if items|default([])|length -%}
          {%- include 'molecules-tag-list' with {list: _context|merge({singleLine: true})} only -%}
        {%- endif -%}

      {%- endblock categories -%}
    {%- endwith -%}

    {%- with contentTitle only -%}

      {%- block title -%}

        {% set length = include('atoms-heading')|striptags|trim|length %}

        {% if length < 20 %}
          {% set lengthClass = 'xx-short' %}
        {% elseif length < 36 %}
          {% set lengthClass = 'x-short' %}
        {% elseif length < 46 %}
          {% set lengthClass = 'short' %}
        {% elseif length < 57 %}
          {% set lengthClass = 'medium' %}
        {% elseif length < 80 %}
          {% set lengthClass = 'long' %}
        {% elseif length < 120 %}
          {% set lengthClass = 'x-long' %}
        {% else %}
          {% set lengthClass = 'xx-long' %}
        {% endif %}

        {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header__title', 'content-header__title--' ~ lengthClass]) }) %}
        {% set level = 1 %}

        {% include 'atoms-heading' %}

      {%- endblock -%}

    {%- endwith -%}

    {%- with meta|default({}) only -%}
      {%- block meta -%}

        {%- if items|default([])|length -%}
          {%- include 'molecules-content-meta' -%}
        {%- endif -%}

      {%- endblock meta -%}
    {%- endwith -%}

    {%- if authors is defined -%}
      {%- block authors -%}
        {%- if authors.items|default([])|length -%}

          {%- set attributes = authors.attributes|default({}) -%}
          <ol {{- html.attributes(attributes) -}}>
            {%- with authors -%}
              {%- for author in items -%}
                <li>
                  {%- if author.url is defined -%}
                    <a href="{{ author.url }}">{{ author.name }}</a>
                  {%- else -%}
                    {{ author.name }}
                  {%- endif -%}

                    {%- if not loop.last -%}
                      <span aria-hidden="true">,</span>
                    {%- endif -%}
                </li>
              {%- endfor -%}
            {%- endwith -%}
          </ol>

          {%- if authors.affiliations is defined -%}
            {%- if authors.affiliations.items|default([])|length -%}

              {%- set attributes = authors.affiliations.attributes|default({}) -%}
              <ol {{- html.attributes(attributes) -}}>
                {%- with authors.affiliations -%}
                  {%- for affiliation in items -%}
                  <li>{{ affiliation.name }}</li>
                  {%- endfor -%}
                {%- endwith -%}
              </ol>
            {%- endif -%}
          {%- endif -%}

        {%- endif -%}
      {%- endblock authors -%}
    {%- endif -%}

  {%- endblock body -%}
</header>


