<div class="article-content__title">
  <h1>{{ articletitle }}</h1>

  <h2>Potato List</h2>
   {{ articleTitle }}
  <ul>

   
  {% set potato = potatolist.potato %}
  {% for item in potato %}
    <li>
      {{ item }} Potato
    </li>
  {% endfor %}
  </ul>

  <ul>
    {% for i in range(low=1, high=10) %}
    <li>{{ i }},</li>
{% endfor %}
  </ul>

{{ "now"|date('d/m/Y H:i', timezone="Europe/London") }}
</div>