{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header']) }) -%}

<header {{- html.attributes(attributes) }}>

  {%- with logo|default({})|merge({html: html}) only -%}
    {%- block logo -%}

      {%- set image = image|default({})|merge({alt: image.alt|default('Site logo'), class: image.class|default([])|merge(['site-header__image'])}) -%}

      {%- if href is defined -%}
        <a href="{{ href }}" class="site-header__logo_link">
      {%- endif -%}

      {%- if image.src is defined -%}

        <img {{- html.attributes(image) }}>

      {%- else -%}

        {%- set image = image|merge({src: asset('images/libero-logo-small.svg')}) -%}

        <picture>
          <source srcset="{{ asset('images/libero-logo.svg') }}" type="image/svg+xml" media="(min-width: 45.625em)">
          <img {{- html.attributes(image) }}>
        </picture>

      {%- endif -%}

      {%- if href is defined -%}
        </a>
      {%- endif -%}

    {%- endblock -%}
  {%- endwith -%}

</header>
