{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header']) }) -%}

<header {{- html.attributes(attributes) }}>

    {%- set logo = logo|default({})|merge({src: logo.src|default('images/libero-logo.svg'), alt: logo.alt|default('Site logo')}) -%}

    {%- with logo only -%}

          {%- if href is defined -%}

            <a href="{{ href }}">
              <img src="{{ asset(src) }}" alt="{{ alt }}" />
            </a>
          {%- else -%}

            <img src="{{ asset(src) }}" alt="{{ alt }}" />

          {%- endif -%}

    {%- endwith -%}

</header>
